.button {
	font-family: $ff;
	font-weight: $fw-medium;
	padding: 8px 40px;
	border: 0;
	border-radius: 5px;
	color: $accent;
	background: $white;
	cursor: pointer;
	transition: ease $tr;
	font-size: 19px;

	&:hover {
		color: $white;
		background: $accent;

	}

	&.header-button {
		animation: cycle 4s linear infinite;
		background: $accent;
		color: $white;

		&:hover {
			color: $white;
			background: $span;
		}

		@keyframes cycle {
			35% {transform: rotate(0) translate(0, 0);}
			40% {transform: rotate(3deg) translate(0, -2px);}
			45% {transform: rotate(-1deg) translate(0, -2px);}
			50% {transform: rotate(3deg) translate(0, -2px);}
			55% {transform: rotate(-1deg) translate(0, -2px);}
			60% {transform: rotate(3deg) translate(0, -2px);}
			65% {transform: rotate(-1deg) translate(0, -2px);}
			70% {transform: rotate(0) translate(0, 0);}
		}
	}
}

.form-button {
	padding: 8px 20px;
	background: $white;
	border: 0;
	border-radius: 5px;
	color: $accent;
	font-family: $ff;
	font-weight: $fw-medium;
	font-size: 15px;
	cursor: pointer;
	transition: opacity ease $tr;

	&:hover {
		opacity: $op;
	}
}