@font-face {
    font-family: 'FormularW03';
    src: url('../fonts/FormularW03-Bold.eot');
    src: url('../fonts/FormularW03-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FormularW03-Bold.woff2') format('woff2'),
        url('../fonts/FormularW03-Bold.woff') format('woff'),
        url('../fonts/FormularW03-Bold.ttf') format('truetype'),
        url('../fonts/FormularW03-Bold.svg#FormularW03-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Thin.eot');
    src: url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Thin.woff2') format('woff2'),
        url('../fonts/Geometria-Thin.woff') format('woff'),
        url('../fonts/Geometria-Thin.ttf') format('truetype'),
        url('../fonts/Geometria-Thin.svg#Geometria-Thin') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Medium.woff2') format('woff2'),
        url('../fonts/Geometria-Medium.woff') format('woff'),
        url('../fonts/Geometria-Medium.ttf') format('truetype'),
        url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/Geometria-Bold.woff') format('woff'),
        url('../fonts/Geometria-Bold.ttf') format('truetype'),
        url('../fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

