.breadcrumb {
    margin-top: 30px;
    &-inner {
        display: flex;
    }

    .slash {
        margin: 0 5px;
        color: $plat;
        font-size: 12px;
    }

    &-main {
        color: $white;
        font-size: 12px;
    }

    &-current {
        color: $white;
        font-size: 12px;
        cursor: pointer;

        &:hover {
            opacity: $op;
        }
    }

}



