.discount {
    padding: 40px 0;
    background: $corn-blue;

    &-wrapper {
        display: flex;
        align-self: center;
    }

    .hero-form {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;

        h2 {
            display: block;
            color: $white;
            margin: 0 0 20px 0;
        }
    }

    &-image {
        width: 50%;
    }
}