.privileges {
    padding: 50px 0;
    background: $corn-blue;

    .container {
        max-width: 1200px;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    &-item {
        padding: 0 -20px;
        width: calc( 100% / 3 );
    }

    &-inner {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    &-title {
        font-family: $ff;
        font-weight: $fw-bold;
        font-size: 20px;
        margin-bottom: 30px;
    }

    &-text {
        font-family: $ff;
        font-weight: $fw-regular;
        font-size: 15px;
    }
}