.header {
	padding: 16px 0;
	background: $white;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	transition: box-shadow ease $tr,
				padding ease $tr;

	&.scrolled {
		box-shadow: 1px 1px 2px 1px #fafeffda;
		padding: 10px 0;
	}

	.container {
		max-width: 1200px;
	}

	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		width: 10%;
	}

	&-menu-text {
		width: 45%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-family: $ff;
		font-weight: $fw-bold;
		font-size: 20px;
		color: $span;
	}

	&-button-wrapper {
		width: 20%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&-menu {
		margin-top: 10px;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&-menu-item {
		font-family: $ff;
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		color: $accent;
		margin-right: 30px;
		text-transform: uppercase;

		&:last-child {
			margin-right: 0;
		}
	}



	&-phone {
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-family: $ff;
		font-weight: $fw-bold;
		font-size: 24px;
		color: $accent;
		padding-right: 20px;

		img {
			margin-right: 10px;
		}
	}
}