.callback-bt {
    background: $plat;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
    cursor: pointer;
    border: 2px solid transparent;
    display: block;
    height: 45px;
    width: 45px;
    text-align: center;
    position: fixed;
    right: 4%;
    bottom: 10%;
    z-index: 999;
    transition: .3s ease-in-out;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;

    @media all and (min-width: $sm) {
        width: 65px;
        height: 65px;
    }

    @media all and (min-width: $md) {
        height: 75px;
        width: 75px;
        bottom: 10%;
    }
}

.callback-bt:hover {
    background: #fff;
    border: 2px solid #d9e1e7;
}

.callback-bt .text-call {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;
}

.text-call-wrapp {
    position: relative;
    width: 45px;
    height: 45px;

    @media all and (min-width: $sm) {
        width: 65px;
        height: 65px;
    }

    @media all and (min-width: $md) {
        height: 75px;
        width: 75px;
    }
}

.smartphone {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    @media all and (min-width: $sm) {
        width: 30px;
        height: 30px;
    }


    @media all and (min-width: $md) {
        width: 40px;
        height: 40px;
    }
}



@keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(29, 152, 253, 0.3), 0 0 0 0 rgba(31, 137, 224, 0.2), 0 0 0 0 rgba(18, 145, 248, 0.2)
    }

    40% {
        box-shadow: 0 8px 10px rgba(107, 170, 221, 0.3), 0 0 0 15px rgba(122, 186, 238, 0.2), 0 0 0 0 rgba(23, 142, 240, 0.2)
    }

    80% {
        box-shadow: 0 8px 10px rgba(158, 205, 243, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
    }

    100% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
    }
}

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }

    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }

    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }

    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }

    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }

    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }

    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }

    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }

    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }

    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }

    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}